In [3]:
# Numpy 
import numpy as np
# Pandas 
import pandas as pd
# Matplotlib
import matplotlib.pyplot as plt
# Seaborn 
import seaborn as sns
# Warning 
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
df=pd.read_csv('boston_house_prices.csv')

In [5]:
df.head()

,506,13,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
1,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,396.9,4.98,24
2,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14,21.6
3,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4

In [7]:
df.columns = df.iloc[0]  # Set the first row as the column headers
df = df[1:]

In [9]:
df.reset_index(drop=True, inplace=True)

In [11]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,396.9,4.98,24
1,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14,21.6
2,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.9,5.33,36.2

In [13]:
# Check for missing values
print(df.isnull().sum())

# Optionally fill or drop missing values
df.fillna(0, inplace=True)  # Example: fill missing values with 0

0
CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [17]:
# Get summary statistics
print(df.describe())

0          CRIM   ZN INDUS CHAS    NOX     RM  AGE     DIS  RAD  TAX PTRATIO  \
count       506  506   506  506    506    506  506     506  506  506     506
unique      504   26    76    2     81    446  356     412    9   66      46
top     0.01501    0  18.1    0  0.538  5.713  100  3.4952   24  666    20.2
freq          2  372   132  471     23      3   43       5  132  132     140

0           B LSTAT MEDV
count     506   506  506
unique    357   455  229
top     396.9  7.79   50
freq      121     3   16

In [19]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object', name=0)

In [23]:
df['MEDV'] = pd.to_numeric(df['MEDV'], errors='coerce')

In [29]:
# Step 3: Define features (X) and target variable (y)
X = df.drop('MEDV', axis=1)  # Features
y = df['MEDV']  # Target variable

In [31]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Create and train the model
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

# Make predictions
y_pred_lin = lin_reg.predict(X_test)

# Evaluate the model
mse_lin = mean_squared_error(y_test, y_pred_lin)
r2_lin = r2_score(y_test, y_pred_lin)
print(f'Linear Regression: MSE = {mse_lin}, R² = {r2_lin}')

Linear Regression: MSE = 24.291119474973613, R² = 0.6687594935356307

In [35]:
from sklearn.tree import DecisionTreeRegressor

# Create and train the model
tree_reg = DecisionTreeRegressor(random_state=42)
tree_reg.fit(X_train, y_train)

# Make predictions
y_pred_tree = tree_reg.predict(X_test)

# Evaluate the model
mse_tree = mean_squared_error(y_test, y_pred_tree)
r2_tree = r2_score(y_test, y_pred_tree)
print(f'Decision Tree Regression: MSE = {mse_tree}, R² = {r2_tree}')

Decision Tree Regression: MSE = 10.416078431372549, R² = 0.8579634380978161

In [37]:
from sklearn.ensemble import RandomForestRegressor

# Create and train the model
forest_reg = RandomForestRegressor(random_state=42)
forest_reg.fit(X_train, y_train)

# Make predictions
y_pred_forest = forest_reg.predict(X_test)

# Evaluate the model
mse_forest = mean_squared_error(y_test, y_pred_forest)
r2_forest = r2_score(y_test, y_pred_forest)
print(f'Random Forest Regression: MSE = {mse_forest}, R² = {r2_forest}')

Random Forest Regression: MSE = 7.901513892156864, R² = 0.8922527442109116

In [39]:
from sklearn.svm import SVR

# Create and train the model
svr_reg = SVR(kernel='linear')
svr_reg.fit(X_train, y_train)

# Make predictions
y_pred_svr = svr_reg.predict(X_test)

# Evaluate the model
mse_svr = mean_squared_error(y_test, y_pred_svr)
r2_svr = r2_score(y_test, y_pred_svr)
print(f'Support Vector Regression: MSE = {mse_svr}, R² = {r2_svr}')

Support Vector Regression: MSE = 29.435701924289845, R² = 0.5986065268181071

In [41]:
from sklearn.ensemble import GradientBoostingRegressor

# Create and train the model
gb_reg = GradientBoostingRegressor(random_state=42)
gb_reg.fit(X_train, y_train)

# Make predictions
y_pred_gb = gb_reg.predict(X_test)

# Evaluate the model
mse_gb = mean_squared_error(y_test, y_pred_gb)
r2_gb = r2_score(y_test, y_pred_gb)
print(f'Gradient Boosting Regression: MSE = {mse_gb}, R² = {r2_gb}')

Gradient Boosting Regression: MSE = 6.208861361528038, R² = 0.9153342280466539

In [49]:
#6. K-Nearest Neighbors Regression
from sklearn.neighbors import KNeighborsRegressor
knn_reg = KNeighborsRegressor(n_neighbors=5)  # You can adjust the number of neighbors
knn_reg.fit(X_train, y_train)
y_pred_knn = knn_reg.predict(X_test)
mse_knn = mean_squared_error(y_test, y_pred_knn)
r2_knn = r2_score(y_test, y_pred_knn)
print(f'KNN Regression: MSE = {mse_knn}, R² = {r2_knn}')

KNN Regression: MSE = 25.860125490196076, R² = 0.6473640882039258

In [55]:
results = {
    'Model': ['Linear Regression', 'Decision Tree', 'Random Forest', 'SVR','KNN', 'Gradient Boosting', ],
    'MSE': [mse_lin, mse_tree, mse_forest, mse_svr,mse_knn, mse_gb],
    'R²': [r2_lin, r2_tree, r2_forest, r2_svr,r2_knn, r2_gb],
}

results_df = pd.DataFrame(results)
print(results_df)

               Model        MSE        R²
0  Linear Regression  24.291119  0.668759
1      Decision Tree  10.416078  0.857963
2      Random Forest   7.901514  0.892253
3                SVR  29.435702  0.598607
4                KNN  25.860125  0.647364
5  Gradient Boosting   6.208861  0.915334

In [7]:
df.to_csv("boston_train.csv", index=False)
df.to_csv("boston_test.csv", index=False)